
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
      <form class="login100-form validate-form" [formGroup]="createUserForm" (ngSubmit)="registerUser()">
        <span class="login100-form-title p-b-55">
          Fill the forms below
        </span>

        <div class="wrap-input100 validate-input m-b-16">
          <label> Name:</label>
          <input class="input100" type="text"  placeholder="Name" formControlName="name">
          <p class="form-error" *ngIf="createUserForm.get('name').touched && createUserForm.get('name').invalid">Name field is required</p>
        </div>

        <div class="wrap-input100 validate-input m-b-16">
          <input class="input100" type="text"  placeholder="Email" formControlName="email">
          <p class="form-error" *ngIf="createUserForm.get('email').touched && createUserForm.get('email').invalid">Email required also here</p>
        </div>

        <div class="wrap-input100 validate-input m-b-16">
          <input class="input100" type="password"  placeholder="Enter Password" formControlName="password">
          <p class="form-error" *ngIf="createUserForm.get('password').touched && createUserForm.get('password').invalid">password required also here</p>

        </div>

        <div class="wrap-input100 validate-input m-b-16">
          <input class="input100" type="password"  placeholder="Confirm Password" formControlName="confirmpassword">
          <p class="form-error" *ngIf="createUserForm.get('confirmpassword').touched && createUserForm.get('confirmpassword').invalid">retype required also here</p>
        </div>


        <div class="container-login100-form-btn p-t-25">
          <button class="login100-form-btn"  type="submit" [disabled]="createUserForm.invalid">
            Sign Up
          </button>
        </div>


      </form>
    </div>
  </div>
</div>
